<!--loading the static template tag library-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    static tag library provides the static template tag, -->
<!--    which helps us manage and serve static files, like CSS, JavaScript, and images.-->
<!--    When Django processes this template, the /static 'style.css'/ template tag is -->
<!--    replaced with the actual URL to your static file, which is /static/style.css. This -->
<!--    URL is generated based on the STATIC_URL setting in your settings.py file.-->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Articles</title>
</head>
<body>
    <div class="wrapper">
        <h1><a href="{% url 'home' %}"><img src="{% static 'logo.png' %}"></a></h1>
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>